.style {
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  background-image: linear-gradient(
    to left,
    rgb(199, 11, 174),
    rgb(121, 4, 76)
  );
}
